<div class="list-group">
    {% if contacts | length == 0 and  groups | length == 0 %}
        <p class="opacity-50">No contacts</p>
    {% else %}

        {% for contact in contacts %}
            {% set friend = contact.user1_id == auth.user.id ? contact.user2 : contact.user1 %}
            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ friend.firstname }} {{ friend.lastname }}
                <div>
                    <a href="/messages/user/{{ friend.id }}" class="btn btn-outline-primary btn-sm">Send message</a>
                    <a href="/contacts/remove/{{ friend.id }}" class="btn btn-danger btn-sm">Remove friend</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
