{% extends 'template/base.html.twig' %}
{% block content %}
    <div class="container my-5" style="max-width: 600px;">
        <section class="mb-5">
            <h1 class="mb-4">My account</h1>
            <form method="post">
                <div class="row mb-3">
                    <div class="form-group col-6">
                        <label for="firstname" class="form-label">Firstname</label>
                        <input type="text" id="firstname" name="firstname" class="form-control" required/>
                    </div>
                    <div class="form-group col-6">
                        <label for="lastname" class="form-label">Lastname</label>
                        <input type="text" id="lastname" name="lastname" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required/>
                </div>

                <div class="form-group mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="location" class="form-control" required/>
                </div>

                <div class="form-group mb-3">
                    <input class="form-check-input" type="checkbox" id="contamined" name="contamined">
                    <label class="form-check-label" for="contamined">Contamined</label>
                </div>

                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
        </section>

        <hr>

        <section>
            <h1 class="mt-5 mb-4">Change password</h1>
            <form method="post">
                <div class="form-group mb-3">
                    <label for="current-password" class="form-label">Current password</label>
                    <input type="password" id="current-password" name="current-password" class="form-control" required/>
                </div>
                <div class="form-group mb-3">
                    <label for="new-password" class="form-label">New password</label>
                    <input type="password" id="new-password" name="new-password" class="form-control" required/>
                </div>
                <div class="form-group mb-3">
                    <label for="new-password-confirmation" class="form-label">New password confirmation</label>
                    <input type="password" id="new-password-confirmation" name="new-password-confirmation"
                           class="form-control" required/>
                </div>

                <button type="submit" class="btn btn-primary">Change password</button>
            </form>
        </section>
    </div>
{% endblock %}
