{% extends 'Template/base.html.twig' %}
{% block content %}
<main class="chat-message-container">
    <section>
    </section>
    <aside>
        <div>Chat-1</div>
    </aside>
</main>

<section class="chat-form-container">
    <form action="" method="post">
        <input type="text" name="message">
        <button type="submit">Send message</button>
    </form>
</aside>
{% endblock %}