{% extends 'template/base.html.twig' %}
{% block content %}
    <div class="container my-5" style="max-width: 600px;">
        <h1 class="mb-4">Log in</h1>

        {% if has_flash('credentials') %}
            <div class="alert alert-danger">
                {{ retrieve_flash('credentials') }}
            </div>
        {% endif %}
        {% if has_flash('auth') %}
            <div class="alert alert-danger">
                {{ retrieve_flash('auth') }}
            </div>
        {% endif %}

        <form method="post">
            {{ csrf_token() }}
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Log in">
        </form>
        <br>
        <button type="submit" class="btn btn-secondary" onclick="window.location.href = '/signup'">No account? Signup!
        </button>
    </div>
{% endblock %}
