{% extends 'template/base.html.twig' %}
{% block content %}
    <div class="container-sm">
        <div class="divider-b"></div>
        <h1>Log In</h1>
        <form action="" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <div class="divider-s"></div>
            <input class="btn btn-primary" type="submit" value="Connection">
        </form>
        <br>
        <button type="submit" class="btn btn-secondary">No account? Signup!</button>
    </div>
{% endblock %}
