{% extends 'template/base.html.twig' %}
{% block content %}

    <h1 id="title_page" class="mb-4">Map</h1>
    <div id="container_allow">
        <p id="title_allow">Server want to know your location</p>
        <button id="btn_accept" type="submit" class="btn btn-primary">Accept</button>
    </div>
    <p id="current_location"></p>


    <form id="f_gL" method="post" action="/map">
        {{ csrf_token() }}
    </form>
    <form id="f_sL" method="post" action="/location">
        {{ csrf_token() }}
        <input id="longitude" type="number" name="longitude">
        <input id="latitude" type="number" name="latitude">
    </form>

    <div id="map" class="map"></div>

    <style>
        #title_page{margin: 3vw 0 4vw 5vw}
        #container_allow{margin-left: 2vw}
        #title_allow{margin-bottom: 5px;}

        #map{
            height: 75vh;
            width: 95vw;
            margin: auto;
        }
        #f_gL{ display: none; }
        #f_sL{ display: none; }
        ul{ display: none; }
        #f_sL input{ display: none; }
    </style>

    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.8.1/build/ol.js"></script>
    <script async type="text/javascript">
        let map;

        let tab = JSON.parse('{{ locations|json_encode|raw }}');



        if(tab == null){
            simpleMap();
            document.getElementById('btn_accept').addEventListener('click', ()=>{
                if(navigator.geolocation){
                    navigator.geolocation.getCurrentPosition((loc) =>{
                        document.getElementById('longitude').value = loc.coords.longitude;
                        document.getElementById('latitude').value = loc.coords.latitude;
                        document.getElementById('f_sL').submit();

                        document.getElementById('f_gL').submit();
                    });
                } else{
                    document.getElementById('current_location').innerHTML = "Geolocation is not supported by this browser";
                }
            });
        } else{
            if(navigator.geolocation){
                //navigator.geolocation.getCurrentPosition(showPosition);
                navigator.geolocation.getCurrentPosition(showMapsPosition);
                document.getElementById('container_allow').style.display = 'none';
            } else{
                document.getElementById('current_location').innerHTML = "Geolocation is not supported by this browser";
            }
        }




        function showPosition(loc){
            document.getElementById('current_location').innerHTML = "Latitude: " + loc.coords.latitude +
                "<br>Longitude: " + loc.coords.longitude;
        }

        function showMapsPosition(loc){
            initMap(loc.coords, tab);
        }



        function simpleMap(){
            map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([0, 0]),
                    zoom: 1
                })
            });
        }

        function initMap(location, tab){
            let OSM = new ol.layer.Tile({
                title: 'OSM',
                type: 'base',
                visible: true,
                source: new ol.source.OSM()
            })

            map = new ol.Map({
                target: 'map',
                layers:
                    new ol.layer.Group({
                        tile: 'Base Maps',
                        layers: [OSM]
                    }),
                view: new ol.View({
                    center: ol.proj.fromLonLat([location.longitude, location.latitude]),
                    zoom: 14
                })
            });

            let Markers=[];

            tab.forEach(loc => {
                //console.log(loc.longitude+"  "+loc.latitude);

                let marker = new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.transform([loc.longitude, loc.latitude], 'EPSG:4326',
                        'EPSG:3857')),
                    name: 'mark'
                });

                Markers.push(marker);

            });

            let vectorLayer = new ol.layer.Vector({
                title: 'markers',
                source: new ol.source.Vector({
                    features: Markers,
                }),
                /*style: new ol.style.Style({
                    image: new ol.style.Icon({
                        anchor: [0.5, 64],
                        anchorXUnits: 'fraction',
                        anchorYUnits: 'pixels',
                        src: '/ping.png',
                        imgSize: [64, 64]
                    }),
                })*/
                style: new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: 12,
                        fill: new ol.style.Fill({color: 'red'})
                    })
                })
            });


            let Me = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.transform([location.longitude, location.latitude], 'EPSG:4326',
                    'EPSG:3857')),
                name: 'Me'
            });
            let vectorMe = new ol.layer.Vector({
                title: 'markersMe',
                source: new ol.source.Vector({
                    features: [Me]
                }),
                style: new ol.style.Style({
                    image: new ol.style.Icon({
                        anchor: [0.5, 64],
                        anchorXUnits: 'fraction',
                        anchorYUnits: 'pixels',
                        src: '/ressources/images/ping.png',
                        imgSize: [64, 64]
                    }),
                    text: new ol.style.Text({
                        text: 'You are here',
                        scale: 1.3,
                        fill: new ol.style.Fill({
                            color: '#000000'
                        }),
                        stroke: new ol.style.Stroke({
                            color: '#AAAAAA',
                            width: 3.5
                        })
                    })
                })
            })

            if(map!=null) {
                map.addLayer(vectorLayer);
                map.addLayer(vectorMe);
                //layerSwitch.renderPanel();
            }
        }


        function reloadMapLatLng(lat, lng){

        }




    </script>
{% endblock %}