{% extends 'template/base.html.twig' %}
{% block content %}
    {% include 'messages/imports/header.html.twig' %}

    <div class="container">
        {% include 'messages/imports/flashs.html.twig' %}

        <main class="row align-items-start my-4">
            <aside class="col-2">
                {% include 'messages/imports/list.html.twig' %}
            </aside>

            <section class="col-10 px-4">
                <h3 class="mb-3">{{ group.getAttribute('name') }}</h3>

                <ul class="nav nav-tabs my-4" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#messages" type="button"
                                role="tab" aria-selected="true">
                            Messages
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#annoucements" type="button"
                                role="tab" aria-selected="false">
                            Announcements
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#files" type="button" role="tab"
                                aria-selected="false">
                            Files
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab"
                                aria-selected="false">
                            Members
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="messages" role="tabpanel">
                        <div class="border p-4 mt-3">
                            {% include 'messages/imports/messages.html.twig' %}
                            {% include 'messages/imports/form.html.twig' %}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="annoucements" role="tabpanel">
                        {% include 'messages/imports/announcements.html.twig' %}
                    </div>

                    <div class="tab-pane fade" id="files" role="tabpanel">
                        {% include 'messages/imports/files.html.twig' %}
                    </div>

                    <div class="tab-pane fade" id="files" role="tabpanel">
                        {% include 'messages/imports/files.html.twig' %}
                    </div>

                    <div class="tab-pane fade" id="members" role="tabpanel">
                        {% include 'messages/imports/members.html.twig' %}
                    </div>
                </div>


            </section>
        </main>
    </div>
{% endblock %}