{% extends 'template/base.html.twig' %}
{% block content %}
    {% include 'messages/imports/header.html.twig' %}

    <div class="container">
        <main class="row align-items-start my-4">
            <aside class="col-2">
                {% include 'messages/imports/list.html.twig' %}
            </aside>
        </main>
    </div>
{% endblock %}